.row.text-center
  .columns.small-12
    a.button.expand.large(href='/clients/new') New client
    hr

.text-center(ng-repeat='client in clients')
  .row
    .columns.small-12
      h1
        a(ng-href='/clients/{{client._id}}' ng-bind='client.name')

  .row
    .columns.small-12
      button.alert(ng-click='remove(client, $index)') Remove

  .row
    .columns.small-12
    hr