.quinto-focus

  //////////////////////////////
  // TASK NAME
  //////////////////////////////
  .row
    .columns.small-12
      //input.name(type='text' ng-model='task.name' placeholder='Task name')
      h1.panel.radius(ng-model='task.name' contenteditable='true')

  //////////////////////////////
  // TASK PROJECT
  //////////////////////////////
  .row
    .columns.small-2
      big
        i.fa.fa-folder-open(title='Project')
    .columns.small-10
      select(ng-model='task.project' ng-options='project._id as project.name for project in projects | orderBy: "name"')

  //////////////////////////////
  // TASK STATUS
  //////////////////////////////
  .row
    .columns.small-2
      big
        i.fa.fa-lightbulb-o(title='Status')
    .columns.small-10
      select(ng-model='task.status' ng-options='status.id as status.name for status in project_status')

  //////////////////////////////
  // TASK DESCRIPTION
  //////////////////////////////
  .row
    .columns.small-12
      div.description.panel.callout.radius(ng-model='task.description' contenteditable='true')

  //////////////////////////////
  // TASK BUTTONS
  //////////////////////////////
  .row
    .columns.small-12
      .button-group
        button.small-6.success(ng-click='save()') Save
        button.small-6.alert(ng-click='remove()') Delete

      hr

  //////////////////////////////
  // TASK COMMENTS HEADER
  //////////////////////////////
  .row
    .columns.small-12
      h3 Comments (
        span(ng-bind='task.comments.length || "0"')
        span )
      hr

  .row(ng-repeat='comment in task.comments | orderBy: "when"')
    .columns.small-12
      .right
        i.fa.fa-times(ng-click='closeComment(comment)')

      p(ng-bind='comment.what')
      em(ng-bind='quinto.now(comment.when)')
      hr

  .row
    .columns.small-12
      h3 Leave a comment
      textarea(placeholder='Leave a comment' ng-model='newComment')
      button.expand(ng-click='publish()') Publish
