.row.text-center
  .columns.small-12
    .rightk
      button.secondary(ng-click='viewSearchFilters = ! viewSearchFilters')
        i.fa.fa-search
      a.button.radius(href='/tasks/new') +

//////////////////////////////
// SEARCH FILTERS
//////////////////////////////
.row(ng-show='viewSearchFilters')
  .columns.small-12
    big Order by
    select(autofocus ng-model='filters.orderBy' ng-options='by as name for (by, name) in TaskModel.order.by')
    hr

.row
  .columns.small-12
    h1 Tasks (
      span(ng-bind='tasks.length')
      span ) 
    hr
    

.row.quinto-tasks
  .columns.small-12.medium-6.large-4(ng-repeat='task in tasks | orderBy: filters.orderBy')
    .quinto-task
      h2
        a(ng-href='/tasks/{{task._id}}' ng-bind='task.name')

      h3
        small
          b(ng-bind='task.$project.name || task.project')
          span  
          span(ng-bind='task.$status.name')

      p(ng-bind='task.description')