doctype html
meta(charset='utf-8')
title greentea
link(rel="icon" type="image/png" href="/images/favicon.png")
link(rel='stylesheet' href='/bower_components/foundation/css/normalize.css')
link(rel='stylesheet' href='/bower_components/foundation/css/foundation.min.css')
link(rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet' href='/css/greentea.css')

.text-center(ng-app='greentea' ng-controller='GreenTeaCtrl')
  // Flash messages
  .row.collapse
    .columns.small-12
      .flash

  // Top bar
  .row.sticky(data-topbar)
    .columns.small-8.text-left
      a.brand(href='/')
        i.fa.fa-leaf
        span  greentea 
        span.label.round.secondary(ng-bind='todos.length || "0"')

    .columns.small-4.text-right
      ul.right.inline-list
        li
          a(href='#')
            i.fa.fa-filter

  .row
    // New todo
    .columns.small-12.medium-6.large-4
      .greentea-todo.new

        .right
          i.fa.fa-thumb-tack.fa-2x(data-add ng-click='add()')
        
        h2(ng-model='newTodo.name' contenteditable scope='newTodo' name='name')

        p.des(ng-model='newTodo.description' contenteditable scope='newTodo' name='description')

        div.posted Yet to be posted

    // Todo list
    .columns.small-12.medium-6.large-4(ng-repeat='todo in todos | orderBy:"done":true')
      .greentea-todo(ng-class='{ "done": todo.done }')
        
        .right
          i.fa.fa-check-square-o.fa-2x(data-done ng-click='done(todo)')
          i.fa.fa-trash-o.fa-2x(data-remove ng-click='remove(todo)')
        
        h2(ng-model='todo.name' contenteditable='true' save-todo-on-change name='name' scope='todo')

        p.des(ng-model='todo.description' contenteditable='true' save-todo-on-change name='description' scope='todo')

        p.posted Posted 
          span(ng-bind='todo.moments.created | fromNow')

        p.posted(ng-show='todo.done && todo.moments.done') Done 
          span(ng-bind='todo.moments.done | fromNow')


script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/foundation/js/foundation.min.js')
script(src='/bower_components/angular/angular.min.js')
script(src='/bower_components/moment/moment.js')
script(src='/socket.io/socket.io.js')
script(src='/bundle.js')