/*  ****************************************
 *  Variables
 *  **************************************** */

$greentea: #43902B;
$todo-height: 320px;

/*  ****************************************
 *  Flash
 *  **************************************** */

.alert-box {
  margin-bottom: 0;
 }

/*  ****************************************
 *  Top Bar
 *  **************************************** */

[data-topbar] {
  background-color: $greentea;
  font-weight: bold;
  margin-bottom: 20px;

  ul {
    margin-bottom: 0
  }

  a {
    color: white;

    &.brand {
      display: block;
      margin-top: 10px;
      margin-left: 10px
    }
  }

  li {
    margin: 8px;
  }

  .has-filter {
    color: orange
  }
}

/*  ****************************************
 *  Filters
 *  **************************************** */

[ng-model='filter.text'] {
  font-size: 32px !important;
  padding: 6px;
  height: 2em !important;
}

/*  ****************************************
 *  Todo
 *  **************************************** */

[data-list] {
  margin-top: 20px;

}

.greentea-todo {
  height: $todo-height;
  border: 1px solid #B3C1CA;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 8px;
  overflow: auto;

  h2 {
    color: #37759E;
  }

  .right {
    color: #ccc;
    i {
      display: block;
      cursor: pointer;

      &:hover {
        &[data-done] {
          color: $greentea;
        }
        &[data-remove] {
          color: orange;
        }
      }
    }
  }

  .posted {
    color: #999;
  }

  &:hover {
    i {
      opacity: 1
    }
    .right {
      opacity: .5;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

/*  ****************************************
 *  Done
 *  **************************************** */

.done {
  background-color: #efefef;
  border-color: transparent;

  h2 {
    color: #666
  }

  p {
    color: #999
  }

  .right {
    i[data-done] {
      color: $greentea;
      opacity: 1
    }
  }
}

/*  ****************************************
 *  New Todo
 *  **************************************** */

.new {
  background-color: #EEF5F9;

  border-color: transparent;

  i {
    color: orange
  }
}

[ng-model="newTodo.name"], [ng-model="newTodo.description"] {
  background-color: #efefef;
  border-radius: 6px
}