.button-group button, .flash [data-alert] {
  margin-bottom: 0;
}

$greentea: #43902B;

[data-topbar] {
  background-color: $greentea;
  font-weight: bold;

  ul {
    margin-bottom: 0
  }

  a {
    color: white;

    &.brand {
      display: block;
      margin-top: 10px;
      margin-left: 10px
    }
  }

  li {
    margin: 8px;
  }
}

.top-bar-section li a {
  background-color: #43902B !important
}

.top-bar-section li a:hover {
  background-color: #345829 !important
}

.breadscrumbs a {
  color: #43902B 
}

.quinto-focus {
  .name {
    font-size: 32px;
    font-weight: bold;
    height: 2em;
    line-height: 1.5em;
    text-align: center;
    border-color: transparent;

    &:focus {
      text-align: left
    }
  }

  .description {
    margin: 30px 4px
  }
}

.top-bar-section {
  .label {
    margin-left: 20px
  }
}

.quinto-tasks .quinto-task {
  height: 300px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 8px;
  overflow: auto
}

@media (max-width:480px) {
  .list h1 small {
    
  }
}