extends ../layouts/layout

block content
  ul.breadcrumbs
    li
      a(href='/') Home
    li.unavailable
      a(href='/not-found') Not found

  .row
    .columns.small-12
      h1 Page not found
      hr
      p This is not the page you are looking for.